@import '~@core/scss/base/pages/page-auth.scss';
.brand-logo {
  svg {
    height: 28px;
    width: 40.95px;
  }
}
.logo-nova {
  height: 40px;
}
.brand-text2 {
  margin-top: .2em;
  font-weight: 600;
}
html[dir='rtl'] {
  svg.feather {
    transform: rotate(180deg);
  }
}
